version: "3.9"
services: 
    redis:
        image: redis:5.0-alpine3.10
    db:
        image: postgres:9.4
        volumes: 
            - "data-postgres:/var/lib/postgresql/data"
        environment: 
            POSTGRES_USER: "postgres"
            POSTGRES_PASSWORD: "postgres"
    vote:
        build: ./vote
        ports: 
            - "4000:80"
        depends_on: 
            - redis  
    result:
        build: ./result
        ports:
            - "6001:4000"
        depends_on: 
            - db
    worker:
        build: ./worker
        depends_on: 
            - redis
            - db

volumes: 
    data-postgres:

